Memberships
* User should see link for basic plan on home page
* User should see link for pro plan on home page
* Basic plan link should point to the regular devise signup form
* Pro plan link should point to a custom signup form

Stripe Integration
* Users should have a Stripe customer token in the users table
* Javascript should prevent Pro form from submitting after user
  fills it out, and should instead send card info to Stripe.  
  Stripe will return with a card token.
* Javascript should send user fields and card token to our rails 
  app for validation.  Rails app should validate the user fields. 
  Rails app will note whether plan 1 or plan 2.
* Once validated, Rails should send user info (email, plan id)
  and card token to Srtipe server and Stripe iwll cerate a subscription
  and send back customer token.  Rails should save customer token
  and user information to our database.  
