.avatar-show-img {
  width: 128px;
  height: 128px;
    
}

.job-title-icon {
  display: inline-block;
  width: 30px;
  height: 2px solid #2e6da4;
  border-radius: 4px;
  background-color: #53346D;
  color: white;
  text-align: center;
}

.well.profile-block {
  color: white;
  background-color: #2E7EFF;
  border-color: #46b8da;
  h3 {
    margin-top: 0;
    }
}

